<div class="container">
  <div class="m-5">
  <div class="row mt-5 pt-5">
    <div class="col-12">
      <h1 class="text-center mb-0">PROFILE</h1>
      <p class="text-center">Kotoha&Hanon</p>
    </div>
  </div>
  <div class="row mt-5">
    <%= image_tag 'img_main.jpg',class:"img2" %>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-center text2 mt-5">ハコニワリリィ</div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="text1 mt-5">
        圧倒的な歌唱力で幅広いジャンルを歌い上げる『Hanon』と、透き通る歌声で聴くもの全てを魅了する『Kotoha』からなるYouTubeや配信をメインに活動している女性ユニット。<br>
        関連動画総再生回数8億回を超えるクリエイターユニットHoneyWorksのゲストボーカルも務めている。<br>
        YouTubeチャンネルの登録者数、Twitterのフォロワー数は共に急上昇中。今まで二人が歌唱した動画の再生回数は4000万回を突破している。<br>
        これまでインディーズとしてHoneyWorksプロデュースのもと、2枚のフルアルバムをリリース。そして2021年夏、TVアニメ『SDガンダムワールド ヒーローズ』EDテーマに抜擢されメジャーデビュー決定！！<br>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-5">
      <div class="row pr-3">
        <%= image_tag 'img_hanon.jpg',class:"img1" %>
      </div>
      <div class="row">
        Hanon
      </div>
    </div>
    <div class="col-5">
      <div class="row pl-3">
        <%= image_tag 'img_kotoha.jpg',class:"img1" %>
      </div>
      <div class="row mb-5 pl-3">
        Kotoha
      </div>
    </div>
    <div class="col-1"></div>
  </div>