<div class="container">
  <div class="row">
    <div class="col-6 d-flex align-items-center">
      <%= image_tag 'logo.svg' %>
    </div>
    <div class="col-6">
      <%= image_tag 'img_main.jpg',class:"img1" %>
    </div>
  </div>
  <div class="row mt-5 pt-5">
    <div class="col-7">
      <iframe width="600" height="350" src="https://www.youtube.com/embed/l1xUECl5MGs" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-5 d-flex align-items-center">
      <h2>ハコニワリリィ『きっと仲直り』<br>
        【Music Video】
      </h2>
    </div>
  </div>

</div>