<div class="recipe-post">
  <%= form_with(model: @release, url: releases_path, local: true) do |f| %>

    <div class="recipe-ingredients">
      <div class="mx-auto">
        <%= f.fields_for :musics do |t| %>
          <%= render "releases/music_fields", f: t %>
        <% end %>
      </div>

      <div id="detail-association-insertion-point"></div>

      <div class="col-10 mx-auto mt-2">
        <%= link_to_add_association "+フォームを追加", f, :musics,
        class: "btn btn-secondary btn-block",
        data: {
        association_insertion_node: '#detail-association-insertion-point',
        association_insertion_method: 'after'
        }%>
      </div>
    </div>

  <% end %>
</div>